/*=============WebStudio=============*/
:root {
  --main-font: 'Raleway', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --accent-colour: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*=============Header=============*/

.web {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-colour);
}

.studio {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}

.studio-footer {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #ffffff;
}

.menu-link {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-colour);
}

.header-button {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-colour);
}

.tel-link-header {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.tel-link-header:hover,
.tel-link-header:focus {
  color: var(--accent-colour);
}
/*=============End Header=============*/

/*=============Hero=============*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-btn {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.modal-btn {
  cursor: pointer;
  background-color: var(--accent-colour);
  border-radius: 4px;
}

.modal-btn:hover,
.modal-btn:focus 
/*=============End Hero=============*/

/*=============Advantages=============*/

.advantages-title-points {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.advantages-text {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
/*============= End Advantages=============*/

/*=============Our job=============*/
.our-job-list {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/*============= End Our job=============*/

/*=============Our team=============*/
.our-team-list {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.our-team-name {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #212121;
}

.our-team-specialty {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #757575;
}
/*============= End Our team=============*/

/*=============Footer=============*/

.footer {
  background-color: #2f303a;
}

.adress-link {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: #ffffff; */
}
.mail {
  /* color: rgba(255, 255, 255, 0.6); */
}

.tel {
  /* color: rgba(255, 255, 255, 0.6); */
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-colour);
}
/*=============End Footer=============*/

/*=============End WebStudio=============*/

/*=============Portfolio=============*/
.wigets-link {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.wigets-link {
  background-color: #f5f4fa;
  border-radius: 4px;
}

.wigets-link:hover,
.wigets-link:focus {
  background-color: var(--accent-colour);
  color: #ffffff;
}

.projects-list {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.projects-title {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
/*=============End Portfolio=============*/
